* {
  margin: 0;
  padding: 0;
  font-family: Poppins,Helvetica;
  box-sizing: border-box;
}

body {
  background-color: rgb(5, 54, 85);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.logo {
  font-size: 40px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: transform 1s;
  background-color: #ffffff04;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 15px;
}

.logo:hover {
  color: rgb(21, 255, 0);
  transform: scale(0.9);
}

.navbar a {
  font-size: 27px;
  text-decoration: none;
  color: rgb(11, 255, 255);
  margin-left: 50px;
  font-weight: 550;
  transition: color 0.7s;
}

.navbar a:hover {
  color: rgb(21, 255, 0);
  cursor: pointer;
}

.home {
  background-color: rgb(5, 54, 85);
  height: 90vh;
  display: flex;
  align-items: center;
  padding: 0 5%;
  box-shadow: inset -1px 0px 0px rgba(255, 255, 25);
}
.home-content {
  max-width: 630px;
}

.home-content h1 {
  font-size: 52px;
  font-weight: bolder;
  color: rgb(12, 255, 137);
  letter-spacing: 1px;
  position: relative;
}

.home-content h2 {
  font-size: 38px;
  color: rgb(167, 112, 255);
  letter-spacing: 1px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  width: 180px;
  border: 2px solid rgb(5, 167, 167);
  background-color: rgb(10, 243, 243);
  border-radius: 6px;
  text-decoration: none;
  margin-top: 39px;
  text-align: center;
  font-size: 22px;
  color: blue;
  justify-content: center;
  transition: all 0.8s;
  padding: auto;
}


.btn-box a.download-btn:hover {
  background-color: rgb(5, 167, 167);
  color: rgb(10, 243, 243);
}

.btn-box a:hover {
  transform: scale(0.9);
}

img {
  height: 350px;
  width: 430px;
  opacity: 0;
  animation: fadeInLeft 1.5s ease-out forwards;
  margin-top: 16px;
  background-color: #ffffff05;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(40px);
  border-radius: 15px;
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

hr {
  height: 2px;
  background-color: rgb(5, 186, 186);
  border: 0;
  width: 85%;
  margin: 0 5%;
}

.second {
  background: var(--background-color);
  font-family: var(--font);
  display: flex;
  justify-content: center;
  height: 197vh;
}

.second h1 {
  text-align: left;
  padding-left: 5%;
  font-weight: bold;
  margin-top: 7px;
  font-size: 42px;
  height: 60px;
  color: #f4d65d;
}

.timeline {
  background: var(--primary-color);
  margin: 40px auto auto;
  padding: 20px;
  align-self: flex-start;
}

.card {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
  color: rgb(140, 196, 255);
  border-radius: 8px;
  max-width: 500px;
  right: -40%;
  background-color: #ffffff08;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h4 {
  position: absolute;
  left: 17%;
  top: 100%;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.line2 {
  position: absolute;
  left: 20%;
  top: 114%;
  width: 2px;
  height: 270px;
  background: rgba(100, 100, 254, 0.763);
}

.title {
  color: rgb(21, 255, 137);
  position: relative;
  background-color: #ffffff05;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 15px;
}

.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -39px;
  border: 5px solid rgb(78, 78, 250);
}

.Mode {
  color: rgb(254, 113, 47)
}

h6 {
  position: absolute;
  left: 10%;
  top: 157%;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.line {
  position: absolute;
  left: 20%;
  top: 169%;
  width: 2px;
  height: 700px;
  background: rgb(98, 98, 252);
}

.third {
  margin-top: 10% !important;
  max-width: 100%;
  padding: 0 !important;
  box-shadow: none !important;
  display: inline;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

.third a {
  padding: 4% 5% 2%;
  font-size: 33px;
  text-decoration: none;
  color: rgb(255, 136, 62);
  cursor: pointer;
  letter-spacing: 1.2px;
  width: 10%;
  transition: all 0.2s ease-in-out;
  display: block;
  margin-top: 19px;
}

.third a:hover {
  color: rgb(255, 255, 255);
}

.third hr {
  width: 90%;
  border: 0;
  margin-bottom: 9px;
}

.third ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  
}

.third li {
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 12px;
  font-size: 18px;
  width: 90%;
  position: relative;
  background-color: #ffffff05;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(45px);
  border-radius: 15px;
  
}

.third li.intermediate {
  color: #fff;
  border: 2px solid aquamarine;
}

.third li.advanced {
  color: #fff;
  border: 2px solid aquamarine;
}

.third li .stars {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
}

.third li .stars:before {
  content: "⭐⭐⭐⭐";
}

.third li.advanced .stars:before {
  content: "⭐⭐⭐⭐⭐";
}

.contact {
  margin-top: 100px;
  padding: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.contact h2 {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 39px;
  color: rgb(255, 145, 72);
  position: relative;
}

.contact p {
  font-size: 33px;
  margin-bottom: 78px;
  color: mediumspringgreen;
}

.contact .social-icons {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 130px;
}

.contact .social-icons li {
  display: inline-block;
  margin: 0 70px;
}

.contact .social-icons li a {
  font-size: 64px;
  color: #f5f5f5;
}

.contact .social-icons li a:hover {
  color: rgb(57, 136, 220);
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(185, 248, 227);
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  color: #007bff;
}



@media screen and ( max-width: 1872px) and (max-height: 966px) {
  .logo {
    font-size: 60px;
    color: #007bff;
  }

  .navbar a {
    font-size: 40px;
    margin-left: 90px;
  }

  .home {
    height: 93vh;
    width: 100%;

  }

  .home-content {
    max-width: 100%;
  }

  .home-content h1 {
    font-size: 70px;
    margin-right: 440px;
  }

  .home-content h2 {
    font-size: 63px;
    margin-top: 25px;
  }

  .btn-box a {
    font-size: 50px;
    width: 330px;
    margin-top: 50px;
    font-weight: bold;
    color: rgb(35, 139, 249);
    background-color: #011123;
    border-color: #000000;

  }

  img {
    height: 480px;
    width: 680px;
  }



  hr {
    height: 3px;
    background-color: rgb(5, 186, 186);
    border: 0;
    width: 85%;
    margin: 0 5%;

  }

  .second {
    background: var(--background-color);
    font-family: var(--font);
    display: flex;
    justify-content: center;
    height: 192vh;

  }


  .second h1 {
    text-align: left;
    padding-left: 5%;
    font-weight: bold;
    margin-top: 7px;
    font-size: 52px;
    height: 60px;
    color: #f4d65d;
  }



  .timeline {
    background: var(--primary-color);
    margin: 90px auto auto;
    padding: 20px;
    align-self:
      flex-start;
    font-size: 25px;

  }



  .card {
    position: relative;
    margin: 0 0 40px 60px;
    padding: 30px;
    color: rgb(140 196, 255);
    border-radius: 8x;
    max-width: 700px;
    right: -40%;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 10px
  }



  h4 {
    position: absolute;
    left: 17%;
    top: 108%;
    font-size: 70px;
    color: rgb(255, 255, 255);

  }



  .line2 {
    position: absolute;
    left: 20%;
    top: 116%;
    width: 2px;
    height: 370px;
    background: rgba(100, 100, 254, 0.763);

  }





  h6 {
    position: absolute;
    left: 12%;
    top: 163%;
    font-size: 60px;
    color: rgb(255, 255, 255);

  }



  .line {
    position: absolute;
    left: 20%;
    top: 172%;
    width: 2px;
    height: 990px;
    background: rgb(98, 98, 252);
  }



  .third {
    margin-top: 10% !important;
    max-width: 100%;
    padding: 0 !important;
    box-shadow: none !important;
    display: inline;
    justify-content: center;
    align-items: center;
    max-height: 130vh;
  }



  .third a {
    padding: 4% 5% 2%;
    font-size: 50px;
    text-decoration: none;
    color: rgb(255, 136, 62);
    cursor: pointer;
    letter-spacing: 1.2px;
    width: 10%;
    transition: all 0.2s ease-in-out;
    display: block;
    margin-top: 19px;
    font-weight: bold;

  }

  .third a:hover {

    color: rgb(255, 255, 255);

  }



  .third hr {
    width: 90%;
    border: 0;
    margin-bottom: 9px;

  }


  .third ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  .third li {
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 9px;
    margin-top: 19px;
    font-size: 28px;
    width: 90%;
    position: relative;
  }

  .third li.intermediate {
    color: #fff;
    border: 2px solid aquamarine;
  }

  .third li.advanced {
    color: #fff;
    border: 2px solid aquamarine;
  }

  .third li .stars {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
  }

  .third li .stars:before {
    content: "⭐⭐⭐⭐";
  }

  .third li.advanced .stars:before {
    content: "⭐⭐⭐⭐⭐";
  }

  .contact {
    margin-top: 160px;
    padding: 30px;
    text-align: center;
    margin-bottom: 40px;
  }

  .contact h2 {
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 80px;
    margin-top: 39px;
    color: rgb(255, 145, 72);
    position: relative;
  }

  .contact p {
    font-size: 53px;
    margin-bottom: 108px;
    color: mediumspringgreen;
    font-weight: bold;
  }

  .contact .social-icons {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 150px;
  }

  .contact .social-icons li {
    display: inline-block;
    margin: 0 110px;
  }

  .contact .social-icons li a {
    font-size: 74px;
    color: #f5f5f5;
  }

  .contact .social-icons li a:hover {
    color: rgb(22, 129, 244);
  }

  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: rgba(6, 6, 88, 0.397);
    text-align: center;
    font-size: 27px;
    color: #065fbf;
    padding: 30px 0;
    font-weight: bold;
  }

  .contact .sea {
    background-color: #05ae27;
    width: 85%;
  }
}

